<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700");

:root {
  background-image: radial-gradient(
    circle,
    #b68af0,
    #9e9cfb,
    #8aabff,
    #7eb8fe,
    #7cc3f9,
    #86c6f9,
    #8fc8f9,
    #97cbf9,
    #a6c7fd,
    #b9c1fd,
    #cdbbf8,
    #e0b5f0
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  margin: 0;
  padding: 0;
  /* -webkit-overflow-scrolling: touch; */
  overflow: scroll;
  /* overflow-x: hidden; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 4em;
  /* background: var(--background); */
  height: 80vh;
}

@media screen and (max-width: 980px) {
  .outerContainer {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
=======
>>>>>>> b1c41b7de6e04b69354563b9ec4b5228e6c2d034
.progressBarOuter {
  width: 100px;
  height: 20px;
  background-color: white;

  margin-inline: auto;
}
.ProgressBar {
  background-color: green;
  height: 20px;
}
