@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700");

:root {
  background-image: radial-gradient(
    circle,
    #b68af0,
    #9e9cfb,
    #8aabff,
    #7eb8fe,
    #7cc3f9,
    #86c6f9,
    #8fc8f9,
    #97cbf9,
    #a6c7fd,
    #b9c1fd,
    #cdbbf8,
    #e0b5f0
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 4em;
  /* background: var(--background); */
  height: 80vh;
}

@media screen and (max-width: 980px) {
  .outerContainer {
    width: 100%;
  }
  .pageContainer {
    display: flex;
    flex-direction: column;
  }
  #word-storage {
    width: calc(100vw - 20px);
    overflow-y: scroll;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }
  p {
    font-size: 1rem;
  }

  .storedWord {
    text-wrap: nowrap;
  }
  #controls {
    width: 100%;
  }
  .storySection {
    width: 100%;
  }
}
header {
  display: none;
}
@media screen and (max-width: 600px) {
  #word-storage {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.7rem;
  }
  .outerContainer {
    margin-top: 0;
  }
  .container {
    padding-top: 20px;
  }
  .header {
    padding: 0px;
  }
}
