@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700");

:root {
  background-image: radial-gradient(
    circle,
    #b68af0,
    #9e9cfb,
    #8aabff,
    #7eb8fe,
    #7cc3f9,
    #86c6f9,
    #8fc8f9,
    #97cbf9,
    #a6c7fd,
    #b9c1fd,
    #cdbbf8,
    #e0b5f0
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  font-weight: bold;
  word-spacing: 5px;
  line-height: 1.8;
  color: purple;
}

.outerContainer {
  margin: 0;
  padding: 0;
  /* -webkit-overflow-scrolling: touch; Not doing anything when webpage inspected */
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: none; Not doing anything when webpage inspected */
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 4em;
  /* background: var(--background); */
  height: 80vh;
}

a {
  text-align: center;
  line-height: 1.7em;
  color: blue;
}

a:hover {
  color: #fbd320;
  transition: color 0.1s;
}
.progressBar {
  width: 100px;
  height: 30px;
}
#rewind,
#save,
#reload {
  text-align: center;
  line-height: 1.7em;
  background-color: blue;
  color: white;
  border-radius: 10px;
  width: 100px;
}

#rewind:hover,
#save:hover,
#reload:hover {
  background-color: #fbd320;
  color: black;
  transition: color 0.1s;
}
.buttons {
  width: 980px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 980px) {
  .outerContainer {
    width: 100%;
  }
  .buttons {
    width: 100%;
  }
  .pageContainer {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1rem;
  }

  #controls {
    width: 100%;
  }
  .storySection {
    width: 100%;
  }
}
header {
  display: none;
}
